* {
  font-family: sans-serif;
  overflow: hidden;
}

body {
  text-align: center;
  margin: 0 auto;
  max-width: 50%;
}

.help{
  max-height: 150px;
  /* height: 300px; */
  background-color: red;
  padding:20px;
  cursor: pointer;

}
section {
  background-color: rgb(240, 239, 238);
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  min-height: 10px;
}

section:nth-of-type(1) {
  margin-top: 10px;
}

section > div {
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: 30px;
}
button {
  background-color: blue;
  color: white;
  outline: none;
  border: solid 3px rgb(1, 1, 123);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.backdrop {
  position: absolute;
  background-color: rgba(13, 11, 11, 0.901);
  backdrop-filter: none;
  left:0;
  width: 100vw;
  height: 100vh;
}

.modal{
  width: clamp(50%, 400px, 90%);
  height: min(50%, 350px);
  background-color: white;
  border-radius: 10px;
  margin-left: 25%;
  flex-direction: column;
  display:flex;
  align-items: center; 
  justify-content: center;
}